footer {
    background-color: rgba(253, 41, 64, 0.7);
    height: 394px;
    margin-top: -50px;
    // background:#F00;

    .heading {
        @extend .font;
        color: white;

        &:hover {
            color: white;
        }
    }

    ul {
        list-style: none;
        li {
            text-align: left;
            font-weight: 700;
            color: rgba(255, 255, 255, 255);
            font-family: Candara, sans-serif;
            font-size: 14px;

        }
    }
    #icon {
        text-align: center;
        margin-top: 50px;
        a{
            margin: 0 5px;
            img{
                width: 35px;
                height: 35px;
            }
        }
    }

}
