header {
    height: 450px;
    background: url(../img/new_banner.jpg) center center;
    background-repeat: no-repeat;
    background-size: cover;

    .logo {
        width: 100px;
        height: 100px;
        display: block;
        float: left;
        margin: 0;
    }

    nav {
        float: right;
        margin: 10px 120px 0 0;
        a {
            display: inline-block;
            margin-left: 35px;
            font-weight: 700;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 255);
            font-family: Candara, sans-serif;
            text-decoration: none;
            &:hover {
                color: rgba(253, 41, 64, 0.7);
            }

            @media screen and (max-width: 480px) {
                margin-left: 11px;
            }
        }
    }

    h1 {
        font-style: italic;
        font-family: Candara, sans-serif;
        text-align: center;
        font-size: 120px;
        color: rgba(255, 255, 255, 255);
        clear: both;
        padding-top: 150px;

        @media screen and (max-width: 480px) {
            font-size: 75px;
        }

        span {
            color: #ffffff;
            font-size: 72px;
        }
    }
}





